<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${daoClassName}">

    <resultMap id="baseMap" type="${package}.${doClassName}">
#foreach($!{column} in $!{columnList})
        <result property="${column.property}" column="${column.name}"/>
#end
    </resultMap>

    <sql id="base_column">
#set($i = 0)
#set($size = $!{columnList.size()})
    #foreach($!{column} in $!{columnList})
        ${column.name}#if($i + 1 == $size)#else,#end

#set($i = $i + 1)
#end
    </sql>

    <sql id="no_id_column">
        #set($i = 0) #set($size = $!{columnList.size()}) #foreach($!{column} in $!{columnList})
        #if("$column.name"=="${primaryKeyColumn.name}" || "$column.name"=="gmt_modified"|| "$column.name"=="gmt_modify") ##
        #else ${column.name}#if($i + 1 == $size)#else,#end #end ##
        #set($i = $i + 1) ##

        #end
</sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="${primaryKeyColumn.property}">
	    INSERT INTO ${tableName} (
        <include refid="no_id_column"/>
        )VALUES(
#set($i = 0) #set($size = $!{columnList.size()}) #foreach($!{column} in $!{columnList})
            #if("$column.name"=="${primaryKeyColumn.name}" || "$column.name"=="gmt_modify"|| "$column.name"=="gmt_modified") #elseif("$column.name"=="gmt_create" || "$column.name"=="gmt_created")now(), #elseif("$column.name"=="is_deleted" || "$column.name"=="is_delete" ||  "$column.name"=="deleted") 0, ##
            #else  #{${column.property}}#if($i + 1 == $size)#else,#end  #end ##
            #set($i = $i + 1) ##

            #end
        )
#if($daoUseSequence)#else
        <selectKey resultType="${primaryKeyColumn.type}" keyProperty="${primaryKeyColumn.property}" >
            SELECT @@IDENTITY AS ${primaryKeyColumn.name}
        </selectKey>
#end
    </insert>

    <update id="update">
        UPDATE ${tableName}
        <set>
#foreach($!{column} in $!{columnList})
#if("$column.name"=="gmt_modified" || "$column.name"=="gmt_modify" ||"$column.name"=="gmt_create"||"$column.name"=="gmt_created"||"$column.name"=="$!primaryKeyColumn.name" || "$column.name"=="is_deleted" || "$column.name"=="is_delete" || "$column.name"=="deleted")
    #if("$column.name"=="gmt_modified")
        gmt_modified = now(),
    #end
    #if("$column.name"=="gmt_modify")
        gmt_modify = now(),
    #end
#else
    <if test="${column.property} != null">
                ${column.name} = #{${column.property}},
            </if>
#end
#end
        </set>
        WHERE ${primaryKeyColumn.name} = #{${primaryKeyColumn.property}}
    </update>

    <select id="select" resultMap="baseMap">
        SELECT
        <include refid="base_column"/>
        FROM ${tableName} WHERE ${primaryKeyColumn.name} = #{${primaryKeyColumn.property}}
    </select>

    <select id="getList" resultMap="baseMap">
        SELECT
        <include refid="base_column"/>
        FROM ${tableName}
        <where>
#foreach($!{column} in $!{columnQueryList})
#if("$column.name"=="is_deleted"|| "$column.name"=="is_delete"||"$column.name"=="deleted"||"$column.name"=="gmt_modified" || "$column.name"=="gmt_modify" ||"$column.name"=="gmt_create"||"$column.name"=="gmt_created")
    #if("$column.name"=="is_deleted")
        AND is_deleted = 0
    #end
    #if("$column.name"=="is_delete")
        AND is_delete = 0
    #end
    #if("$column.name"=="deleted")
        AND deleted = 0
    #end
#else
            <if test= "${column.property} != null">
                AND ${column.name} = #{${column.property}}
            </if>
#end
#end
        </where>
#if($pagerQuery)
        ORDER BY ${primaryKeyColumn.name} DESC
    <if test= "page != null">
        LIMIT #{(page-1) * pageSize}, #{pageSize}
    </if>
#end
    </select>

    <select id="getCount" resultType="int">
        SELECT
        COUNT(1)
        FROM ${tableName}
        <where>
            #foreach($!{column} in $!{columnQueryList})
                #if("$column.name"=="is_deleted"|| "$column.name"=="is_delete"||"$column.name"=="deleted"||"$column.name"=="gmt_modified" || "$column.name"=="gmt_modify" ||"$column.name"=="gmt_create"||"$column.name"=="gmt_created")
                    #if("$column.name"=="is_deleted")
                        AND is_deleted = 0
                    #end
                    #if("$column.name"=="is_delete")
                        AND is_delete = 0
                    #end
                    #if("$column.name"=="deleted")
                        AND deleted = 0
                    #end
                #else
                    <if test= "${column.property} != null">
                        AND ${column.name} = #{${column.property}}
                    </if>
                #end
            #end
        </where>
    </select>

#if($daoLogDelete)
    <update id="delete">
        UPDATE ${tableName} SET ${deleteKey} = '1' WHERE ${primaryKeyColumn.name} = #{${primaryKeyColumn.property}}
    </update>
#else
    <delete id="delete">
        DELETE FROM ${tableName}  WHERE ${primaryKeyColumn.name} = #{${primaryKeyColumn.property}}
    </delete>
#end

</mapper>
